<section>
	<ul class="nav nav-pills">
		<li ng-class="{active:isSet(0)}"><a href="" ng-click="setTab(0)">Top Stories</a></li>
		<li ng-class="{active:isSet(1)}"><a href="" ng-click="setTab(1)">World</a></li>
		<li ng-class="{active:isSet(2)}"><a href="" ng-click="setTab(2)">UK</a></li>
		<li ng-class="{active:isSet(3)}"><a href="" ng-click="setTab(3)">Business</a></li>
		<li ng-class="{active:isSet(4)}"><a href="" ng-click="setTab(4)">Politics</a></li>
		<li ng-class="{active:isSet(5)}"><a href="" ng-click="setTab(5)">Health</a></li>
		<li ng-class="{active:isSet(6)}"><a href="" ng-click="setTab(6)">Education &amp; Family</a></li>
		<li ng-class="{active:isSet(7)}"><a href="" ng-click="setTab(7)">Science &amp; Environment</a></li>
		<li ng-class="{active:isSet(8)}"><a href="" ng-click="setTab(8)">Technology</a></li>
		<li ng-class="{active:isSet(9)}"><a href="" ng-click="setTab(9)">Entertainment &amp; Arts</a></li>
	</ul>
</section>
