<div class="jumbotron">
  <h1>Quick News</h1>
  <p class="lead">
    <img id="main-news" src="images/news.jpg" alt="News image" width="256px" height="256px"><br>
    <h2>Choose a news service to display its feed</h2>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
