<div class="jumbotron">
  <h1>Quick News</h1>
  <p class="lead"><img id="main-news" class="news-image" src="images/news.png" alt="News image"><br></p>
  <h2>A multi-sourced news app that summarizes all your news.</h2>
  <div class="row">
    <div class="col-md-4">
      <h2>BBC</h2>
      <p>U.K. focused content</p>
      <p><a class="btn btn-default" href="#/bbc" role="button">View BBC news»</a></p>
    </div>
    <div class="col-md-4">
      <h2>CBC</h2>
      <p>Canada focused content</p>
      <p><a class="btn btn-default" href="#/cbc" role="button">View CBC news»</a></p>
    </div>
    <div class="col-md-4">
      <h2>Reuters</h2>
      <p>U.S. focused content</p>
      <p><a class="btn btn-default" href="#/reuters" role="button">View Reuters news»</a></p>
    </div>
  </div>
</div>


