<section>
	<ul class="nav nav-tabs nav-justified" id="reutersNav">
		<li ng-init="setTab('top-stories')" ng-class="{active:isSet('top-stories')}"><a href="" ng-click="setTab('top-stories')">Top</a></li>
		<li ng-class="{active:isSet('world')}"><a href="" ng-click="setTab('world')">World</a></li>
		<li ng-class="{active:isSet('us')}"><a href="" ng-click="setTab('us')">US</a></li>
		<li ng-class="{active:isSet('business')}"><a href="" ng-click="setTab('business')">Business</a></li>
		<li ng-class="{active:isSet('politics')}"><a href="" ng-click="setTab('politics')">Politics</a></li>
		<li ng-class="{active:isSet('science')}"><a href="" ng-click="setTab('science')">Science</a></li>
		<li ng-class="{active:isSet('health')}"><a href="" ng-click="setTab('health')">Health</a></li>
		<li ng-class="{active:isSet('technology-and-science')}"><a href="" ng-click="setTab('technology-and-science')">Tech</a></li>
		<li ng-class="{active:isSet('sports')}"><a href="" ng-click="setTab('sports')">Sports</a></li>
		<li ng-class="{active:isSet('entertainment')}"><a href="" ng-click="setTab('entertainment')">Arts</a></li>
	</ul>
</section>
<loading-feed class="text-center"></loading-feed>

<div class="container">
  <div ng-repeat="entry in entries" id="feedNum{{$index}}" class="feed-entry row">
    <h4><b>{{entry[0]}}</b></h4>
    <div class="para col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <img ng-src="{{entry[3]}}" err-src="http://site.thomsonreuters.com/business-unit/reuters/reuters-brand/images/png/rtr_ahz_rgb_pos.png" class="feed-image">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <div ng-repeat="sentence in entry[2]" class="feed-sentences">
        <li>{{sentence}}</li>
      </div>
      <p><b><a ng-href="{{entry[1]}}" target="_blank">View full article at Reuters website</a></b></p>
    </div>
    <hr>
  </div>
</div>